/* CSS for the ingredient form */
.ingredient-form {
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.ingredient-form:hover{
    background-color: rgb(0, 0, 0);
}

.ingredient-form fieldset {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.ingredient-form legend {
    font-size: 20px;
    font-weight: bold;
}

.ingredient-form .form-group {
    margin-bottom: 20px;
}

.ingredient-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.ingredient-form input[type='text'],
.ingredient-form input[type='number'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ingredient-form .btn {
    margin-left: 20px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.ingredient-form .submit-button {
    text-align: center;
    background-color: #070707;
    width: 200px;
    height: 50px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

/* Style for the submit button on hover */
.ingredient-form .submit-button:hover {
    background-color:rgb(35, 187, 58);
}

@media screen and (max-width: 1400px){
    .ingredient-form{
        margin-top: 10px;
        display: flex;
    flex-direction: column;
    }
}